<script src="/js/index.js"></script>
<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Main</a></li>
    <% if (user) { %>
    <li><a href="/chat">Chat</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right main-navigation">
    <% if (user) { %>
    <li><a id="signOut" href="#">Sign Out</a></form></li>
    <% } else { %>
    <li><a id="signIn" href="#">Sign in</a></li>
    <% } %>
  </ul>
</nav>