<% layout('layout/page') -%>
<% block('title', "Chat") -%>

<p> Wellcome, <%=user.get('username')%></p>

<div id="room">
    <ul class="list-unstyled"></ul>
    <form>
        <input disabled class="form-control" autocomplete="off" autofocus placeholder="Message...">
    </form>
</div>