<% layout('layout/page') -%>
<% block('title', "Chat") -%>

<script src="/js/chat.js"></script>

<h3 class="text-info"> Wellcome, <%=user.get('username')%></h3>

<div class="room">
    <ul class="list-unstyled"></ul>
</div>
<div class="input-area">
    <form>
        <input disabled class="form-control" autocomplete="off" autofocus placeholder="Сообщение...">
    </form>
</div>
