<% layout('layout/page') - %>
<% block('title', "Chat") - %>

<h3 class="text-primary"> Wellcome, <%= user.get('username') %></h3>

<div class="room" id="room">
    <ul class="list-unstyled"></ul>
</div>
<div>
    <form>
        <input disabled class="form-control" autocomplete="off" autofocus placeholder="Message...">
    </form>
</div>